<div class="container-fluid bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleCaptions"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="bg"></div>
        <img src="../assets/images/earth.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <div class="bg"></div>
        <img
          src="../assets/images/connect.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <div class="bg"></div>
        <img
          src="../assets/images/mobile.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container-fluid aboutus">
  <dl>
    <dt>a</dt>

    <dd class="bg-light">
      <div class="heading">About Us</div>

      <p>
        VoizFonica is a Mobile Network Operator and telephone company
        established in the year 2010. VoizFonica provides network access and
        telecommunication services that help people and companies communicate in
        an easy, efficient and environmentally friendly way.
      </p>

      <p>VoizFonica deals with 3 product categories:</p>
      <ul>
        <li><span>Prepaid</span></li>
        <li><span>Postpaid</span></li>
        <li><span>Dongle</span></li>
      </ul>
    </dd>
  </dl>
</div>

<div class="row">
  <div class="col-md-4 bluebtn">
    <i class="far fa-envelope"></i><br />voizfonica@gmail.com
  </div>
  <div class="col-md-4 bluebtn">
    <i class="fas fa-phone-volume"></i><br />1800 400 578
  </div>
  <div class="col-md-4 bluebtn">
    <i class="fas fa-comments"></i><br />+91 9038576876
  </div>
</div>
