<div style="height:95%">
  <div class="wrapper">
    <div id="formContent">
      <div>
        <h3>New Account</h3>
      </div>

      <form (ngSubmit)="save()" #regForm="ngForm">
        <input type="text" name="name1" placeholder="Name" [(ngModel)]="name_var" #name="ngModel" required />

        <div *ngIf="name.invalid && (name.dirty || name.touched || isBtnClicked)" class="text-danger">

          <div *ngIf="name.errors.required">
            Name is required
          </div>

        </div>
        <div *ngIf="!name_match(name_var)" class="text-danger">
          Name can contain only alphabets
        </div>

        <input type="text" name="user_name1" placeholder="Username" [(ngModel)]="user_name_var" #user_name="ngModel"
          required />

        <div *ngIf="user_name.invalid && (user_name.dirty || user_name.touched || isBtnClicked)" class="text-danger">

          <div *ngIf="user_name.errors.required">
            Username is required
          </div>

        </div>
        <div *ngIf="!user_name_start(user_name_var)" class="text-danger">
          Username should start with an alphabet
        </div>
        <div *ngIf="!user_name_space(user_name_var)" class="text-danger">
          Username cannot contain space
        </div>
        <div *ngIf="!user_name_match(user_name_var)" class="text-danger">
          Username can contain only alphabets, numbers and a few special characters (#,*,_,-)
        </div>

        <br>
        <span class="txt">+91</span>
        <input style="width:73%;" type="number" class="phone" name="phone_num1" placeholder="Phone no"
          [(ngModel)]="phone_num_var" #phone_num="ngModel" required />
        <div *ngIf="phone_num.invalid && (phone_num.dirty || phone_num.touched || isBtnClicked)" class="text-danger">

          <div *ngIf="phone_num.errors.required">
            Phone number is required
          </div>

        </div>

        <div *ngIf="(phone_num.touched || isBtnClicked) && !phone_num_match(phone_num_var)" class="text-danger">
          Enter a valid phone number
        </div>

        <input type="text" name="aadhar1" placeholder="Aadhar Number" [(ngModel)]="aadhar_var" #aadhar="ngModel"
          required />
        <div *ngIf="aadhar.invalid && (aadhar.dirty || aadhar.touched || isBtnClicked)" class="text-danger">

          <div *ngIf="aadhar.errors.required">
            Aadhar number is required
          </div>

        </div>
        <div *ngIf="(aadhar.touched || isBtnClicked) && !aadhar_match(aadhar_var)" class="text-danger">
          Enter a valid aadhar number
        </div>

        <input type="password" name="pw1" placeholder="Password" [(ngModel)]="pw_var" #pw="ngModel" required />

        <div *ngIf="pw.invalid && (pw.dirty || pw.touched || isBtnClicked)" class="text-danger">

          <div *ngIf="pw.errors.required">
            Password is required
          </div>

        </div>
        <div *ngIf="(pw.touched || isBtnClicked) && !pw_match(pw_var)" class="text-danger">
          Password should contains at least 8 characters and it can be alphabets and numbers
        </div>


        <input type="password" name="retype_pw1" placeholder="Re-type Password" [(ngModel)]="retype_pw_var"
          #retype_pw="ngModel" required />

        <div *ngIf="(retype_pw.touched || isBtnClicked) && pw_var!=null && pw_var!='' && pw_var!=retype_pw_var"
          class="text-danger">
          Re-typed password does not match Password
        </div>

        <input type="button" class="btn" value="Sign Up" (click)="check()" data-toggle="modal" data-target="#myModal" />

        <div *ngIf="frontend_valid()"></div>

      </form>
    </div>

    <div *ngIf="regForm_frontend_val">
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">

              <div *ngIf="!isCustomer" class="alert alert-danger">
                You are not a VoizFonica customer
                <!-- <br><a routerLink='/newcon'>Get a connection</a> -->
              </div>

              <div *ngIf="isAlreadyPresent" class="alert alert-danger">
                You already have an online account<br>Go to login page
                <!-- <a routerLink='/login'>login page</a> -->
              </div>

              <div *ngIf="isCustomer && !isAlreadyPresent && !aadharMatches" class="alert alert-danger">
                Your Aadhar number does not match
              </div>

              <div *ngIf="isCustomer && !isAlreadyPresent && aadharMatches && !aadharVerified"
                class="alert alert-danger">
                Please complete your KYC and then create an online account
              </div>

              <div *ngIf="isCustomer && !isAlreadyPresent && aadharMatches && aadharVerified && userNameTaken"
                class="alert alert-danger">
                This username is already taken<br>Try another one
              </div>

              <div *ngIf="regForm_valid()">
                <div style="font-size:20pt;padding-bottom:2%">
                  Account created successfully
                </div>
                <br />
                <div *ngIf="frontend_valid()"></div>
                <a routerLink='/login'><button type="button" class="btn" data-dismiss="modal" style="color: white;">
                  OK
                </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ul>
	<li *ngFor="let ou of onlineusers" (click)="select(ou.id)">
		{{ou.name}}|{{ou.phone_num}}
	</li>
</ul>

<input type="text" [(ngModel)]="selected_ou.name"/>
<input type="text" [(ngModel)]="selected_ou.phone_num"/>
<input type="text" [(ngModel)]="selected_ou.pw"/>
<input type="text" [(ngModel)]="selected_ou.retype_pw"/>


<input type="button" value="Create" (click)="create(selected_ou)">
<input type="button" value="Update" (click)="update(selected_ou)">
<input type="button" value="Delete" (click)="delete(selected_ou.id)">  -->