body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.my-padding1 {
  padding: 5% 3% 1% 3%;
}

.container-fluid {
  margin: 0;
}

.btn-light {
  margin-bottom: 5%;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: #f8f9fa;
}
.btn-light:hover {
  background: #f8f9fa;
}

.btn-dark {
  margin: 10%;
  min-width: 45%;
  height: 40%;
}

.jumbotron {
  margin: 0;
  padding: 3.5% 0%;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.btn {
  background: rgb(206, 218, 228);
  /* text-transform:uppercase;  */
  border: none;
  color: #023f70;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  -webkit-box-shadow: 0 13px 30px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /* margin: 5px 20px 40px 20px; */
  width: 100%;
  vertical-align: middle;
  margin-top: 30px;
  /* margin: auto; */
  /* height: 100%; */
}

.btn2 {
  background-color: #0f7cd6;
  /* text-transform:uppercase;  */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  -webkit-box-shadow: 0 13px 30px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /* margin: 5px 20px 40px 20px; */
  width: 100%;
  vertical-align: middle;
  margin-top: 30px;
  /* margin: auto; */
  /* height: 100%; */
}

.collap {
  margin-top: 0px;
}

.btn:hover{
  background-color: #F8F9FA;
}

.btn2:hover {
  background-color: #52beff;
}

.btn:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.jumb {
  margin-bottom: 0;
  background-color: #437ba8;
  padding: 3%;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
